mapclientplugins/fieldworklowerlimb2sidegenerationstep/data/shape_models/LLP26_rigid.pc 							text eol=lf
mapclientplugins/fieldworklowerlimb2sidegenerationstep/data/shape_models/LLP26_right_mirrored_from_left_rigid.pc 	text eol=lf
